@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: studiofeixen-variable,studiofeixen,Arial,Helvetica,sans-serif;
  color: white;
}
*,
::after ::before {
  box-sizing: inherit;
}

:root {
  --mainColor: #001c22;
  --textColor: #5ef2d1;
  --textBgColor: #ccd6f6;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --navy: #0a192f;
  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 2px;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  background-color: var(--mainColor);
  /* overflow: hidden; */
}

/* -------------------scrollbar------------------- */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: #013a46;
  border: 3px solid var(--navy);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: var(--mainColor);
}

*::selection {
  background-color: #005669;
  color: #ffffff;
}

#cursor {
  height: 25px;
  aspect-ratio: 1/1;
  position: fixed;
  border-radius: 50%;
  border: 2px solid var(--textColor);
  opacity: 0.8;
  transform: translate(-50%, -50%) scale(0);
  display: flex;
  align-items: center;
  justify-content: center;
}
.dot {
  height: 4px;
  aspect-ratio: 1/1;
  position: fixed;
  border-radius: 50%;
  background-color: var(--textBgColor);
}


/* --------------------Splash Screen-------------------------- */
#loader-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #001c22;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden;
}
@keyframes borderAnimation {
  from {
    stroke-dasharray: 0;
  }
  to {
    stroke-dasharray: 400;
  }
}
#loader-container svg, .logoimg svg{
  max-width: 9rem;
  max-height: 9rem;
  width: auto;
  height: auto;
  animation: borderAnimation;
}
#loader-container text, .logoimg text {
  font-family: Arial;
  font-size: 3rem;
  font-weight: bold;
  fill: #5ef2d1;
  text-anchor: middle;
  dominant-baseline: central;
}
#loader-container polygon, .logoimg polygon {
  fill: none;
  stroke: #5ef2d1;
  stroke-width: 4;
  stroke-dasharray: 0;
  animation: borderAnimation 4s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}

/* --------------------Main-------------------------- */

.main {
  height: fit-content;
  width: 100%;
  background-color: var(--mainColor);
  z-index: -20;
}


/* ---------------------------NavBar------------------------- */

nav {
  position: fixed;
  z-index: 3;
  height: 8rem;
  width: 100%;
  background-color: var(--mainColor);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  box-shadow: 0 1rem 30px -1rem var(--navy-shadow);
  transition: top 0.3s;
}

nav .logoimg {
  height: 5rem;
  width: 5rem;
  cursor: pointer;
}

.rightnav {
  display: flex;
  align-items: center;
  gap: 3.5rem;
}
.rightnav a {
  text-decoration: none;
  font-size: 1.6rem;
  font-family: monospace;
  font-weight: 400;
  color: var(--textBgColor);
  opacity: 0.8;
}

.rightnav a:nth-child(1)::before {
  content: "01. ";
  margin-right: 0.3rem;
  color: var(--textColor);
  opacity: 1;
}
.rightnav a:nth-child(2)::before {
  content: "02. ";
  margin-right: 0.3rem;
  color: var(--textColor);
  opacity: 1;
}
.rightnav a:nth-child(3)::before {
  content: "03. ";
  margin-right: 0.3rem;
  color: var(--textColor);
  opacity: 1;
}
.rightnav a:nth-child(4)::before {
  content: "04. ";
  margin-right: 0.3rem;
  color: var(--textColor);
  opacity: 1;
}

.rightnav a:hover {
  color: var(--textColor);
}

.rightnav button {
  padding: 1.1rem 1.8rem;
  color: var(--textColor);
  border: 1px solid var(--textColor);
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}
.rightnav button:hover {
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  box-shadow: 0.5rem 0.5rem 0 var(--textColor);
  -webkit-transform: translate(-0.5rem, -0.5rem);
}

.ham-box {
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  display: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.ham-top {
  background-color: var(--textColor);
  height: 2px;
  width: 3rem;
  transition: all 0.5s ease-in-out;
}
.ham-middle {
  background-color: var(--textColor);
  height: 2px;
  width: 2.6rem;
  margin: 7px 0;
  transition: all 0.5s ease-in-out;
}
.ham-bottom {
  height: 2px;
  width: 2.2rem;
  background-color: var(--textColor);
  transition: all 0.5s ease-in-out;
}
/* ----------Animation------------ */

.ham-box.open .ham-middle {
  transform: translateX(-50px);
  background: transparent;
}
.ham-box.open .ham-top {
  transform: rotate(45deg) translate(6px, 6px);
  width: 3rem;
}
.ham-box.open .ham-bottom {
  width: 3rem;
  transform: rotate(-45deg) translate(6px, -6px);
}

.ham-bar-box {
  position: fixed;
  padding: 7vh;
  box-shadow: rgba(157, 157, 157, 0.2) 0px 4px 10px;
  height: 60vh;
  top: var(--scroll-padding);
  width: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: none;
  z-index: 999;
}

.ham-bar-box-contant {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2.5rem;
}
.ham-bar-box-contant a {
  font-size: 2.2rem;
}
.ham-bar-box-contant button {
  padding: 1.5rem 2.1rem;
  color: var(--textColor);
  border: 1px solid var(--textColor);
  border-radius: 5px;
  font-size: 2rem;
  background-color: transparent;
  cursor: pointer;
}

/* ---------------------leftfollow------------------- */
.leftfollow {
  margin-left: 2vw;
  position: fixed;
  left: 10px;
  bottom: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 3rem;
  opacity: 0.7;
}
.leftfollow svg {
  height: 21px;
  aspect-ratio: 1/1;
  fill: var(--textBgColor);
  transition: 300ms ease-in-out;
}

.leftfollow::after {
  content: "";
  position: absolute;
  height: 20vh;
  width: 2px;
  border-radius: 25px;
  left: 50%;
  top: 125%;
  background-color: var(--textBgColor);
}
.leftfollow svg:hover {
  fill: var(--textColor);
  cursor: pointer;
  scale: 1.3;
}

/* -----------------------------rightfollow--------------------------- */
.rightfollow {
  margin-right: 2vw;
  position: fixed;
  right: 10px;
  bottom: 140px;
  text-align: center;
  opacity: 0.7;
}
.rightfollow a {
  text-decoration: none;
  color: var(--textBgColor);
  writing-mode: vertical-rl;
  font-size: 1.6rem;
  letter-spacing: 1.2px;
  transition: 300ms ease;
}
.rightfollow a:hover {
  color: var(--textColor);
  transition: 300ms ease-in-out;
  scale: 1.1;
}
.rightfollow::after {
  content: "";
  position: absolute;
  height: 20vh;
  width: 2px;
  border-radius: 25px;
  left: 48%;
  top: 115%;
  background-color: var(--textBgColor);
}

main {
  height: 100%;
  max-width: 80%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* --------------------------info--------------------------- */
.main-section {
  padding: 10rem 0;
  min-height: 100vh;
  height: fit-content;
  width: 90%;
  margin: 0 auto;
}

#home {
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  /* background-color: rebeccapurple; */
}

#home h1 {
  color: var(--textColor);
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5;
  font-family: var(--font-sans);
}

#home h2 span{
  font-size: 4.75rem;
  cursor: help;
  display: inline-block;
  -webkit-text-stroke: 0;
  color: var(--textBgColor);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.25rem;
  line-height: 5rem;
  font-weight: 700;
}

#home h3 {
  margin-bottom: 3rem;
  color: #8892af;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.1;
}

#home p {
  color: #76809c;
  font-size: 2.2rem;
  line-height: 2.5rem;
  width: 70%; 
}

#home a {
  padding: 1.8rem 2rem;
  color: var(--textColor);
  border: 1px solid var(--textColor);
  border-radius: 5px;
  background-color: transparent;
  margin-top: 5rem;
  font-size: 2.5rem;
  line-height: 1;
  width: fit-content;
  text-decoration: none;
}

#home a:hover {
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  box-shadow: 5px 5px 0 var(--textColor);
  transform: translate(-5px, -5px);
}

/* --------------------------about--------------------------- */
#about {
  -webkit-box-pack: center;
  -webkit-box-align: center;
  line-height: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about h2 {
  font-size: 3.5rem;
  color: var(--textBgColor);
  position: relative;
  margin-bottom: 5rem;
  font-family: 'Roboto', sans-serif;
}

#about h2::before {
  content: "02. ";
  color: var(--textColor);
  font-size: 2.5rem;
  margin-right: 1rem;
}
#about h2::after {
  content: "";
  width: 20vw;
  height: 1px;
  background-color: var(--textBgColor);
  position: absolute;
  top: 55%;
  margin-left: 1.5rem;
  opacity: 0.2;
}

.mainAbout {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 5rem;
  height: fit-content;
  box-sizing: inherit;
}

.leftAbout p {
  color: #7f8aa6;
  margin: 1.7rem 0px;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.07rem;
  word-spacing: 0.1rem;
}
.leftAbout h3 {
  font-size: 1.8rem;
  line-height: 2.5rem;
  letter-spacing: 0.07rem;
  word-spacing: 0.09rem;
  opacity: 0.9;
  color: #7f8aa6;
}

.skills-list {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(14rem, 20rem));
  gap: 0px 1rem;
}

.skills-list li {
  font-size: 1.7rem;
  list-style: none;
  color: #7f8aa6;
  line-height: 1.5rem;
  position: relative;
  padding-left: 1.9rem;
  margin: 0.5rem 0;
  font-family: monospace;
}
.skills-list li::before {
  content: ">";
  margin-right: 0.3rem;
  color: var(--textColor);
  font-size: 1rem;
  position: absolute;
  left: 0;
  font-weight: 900;
}
.rightAbout {
  max-height: 30rem;
  aspect-ratio: 1/1;
  border: 1px solid var(--textColor);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: block;
}

.rightAbout img {
  height: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

/* -----------------------Projects----------------------- */
#project {
  -webkit-box-pack: center;
  -webkit-box-align: center;
  line-height: 1.2rem;
}
#project h2 {
  line-height: 1.5rem;
  font-size: 3.5rem;
  color: var(--textBgColor);
  position: relative;
  margin-bottom: 5rem;
  white-space: nowrap;
  width: 100%;
  position: relative;
  font-family: 'Roboto', sans-serif;
}
#project h2::before {
  content: "03. ";
  color: var(--textColor);
  font-size: 2.5rem;
  margin-right: 1rem;
}
#project h2::after {
  content: "";
  width: 20vw;
  height: 1px;
  background-color: var(--textBgColor);
  position: absolute;
  top: 55%;
  margin-left: 1.5rem;
  opacity: 0.2;
}
.projectsContainer {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 4rem;
  background-color: transparent;
}
.projectCard {
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  text-align: -webkit-match-parent;
  line-height: 3rem;
  background-color: #002a2e;
  transition: 300ms ease-in-out;
  cursor: pointer;
}
.projectcard-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projectcard-top .folder svg {
  stroke: var(--textColor);
}
.projectcard-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
}
.projectcard-links a svg {
  height: 2.5rem;
  stroke: #8892af;
  align-self: center;
  transition: 400ms ease;
}
.projectcard-links a svg:hover {
  stroke: var(--textColor);
}
.projectCard h3 {
  font-size: 2.5rem;
  color: var(--textBgColor);
  margin-bottom: 1.8rem;
}
.projectCard p {
  line-height: 2.5rem;
  font-size: 1.9rem;
  color: #8892af;
}
.projectCard h4 {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-family: monospace;
  display: inline-block;
  color: #7f8aa6;
}

.projectCard:hover h3 {
  color: var(--textColor);
}

/* -------------------------Contact-------------------------------- */
#contact {
  -webkit-box-pack: center;
  -webkit-box-align: center;
  line-height: 1.2rem;
  padding-bottom: 0px;
}

#contact h2 {
  font-size: 3.5rem;
  color: var(--textBgColor);
  position: relative;
  margin-bottom: 5rem;
  white-space: nowrap;
  width: 100%;
  position: relative;
  font-family: 'Roboto', sans-serif;
}
#contact h2::before {
  content: "04. ";
  color: var(--textColor);
  font-size: 2.5rem;
  margin-right: 1rem;
}
#contact h2::after {
  content: "";
  width: 20vw;
  height: 1px;
  background-color: var(--textBgColor);
  position: absolute;
  top: 55%;
  margin-left: 1.5rem;
  opacity: 0.2;
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  align-items: center;
  justify-content: center;
  grid-gap: 2rem;
  height: max-content;
}

.contact-card {
  padding: 3.5rem 1rem;
  border-radius: 10px;
}

#left-contact h3 {
  font-size: 2.75rem;
  color: var(--textBgColor);
}
#left-contact p {
  color: #76809c;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-top: 3rem;
  width: 100%;
  font-weight: 400;
}
#left-contact button {
  padding: 1.7rem 2rem;
  color: var(--textColor);
  border: 1px solid var(--textColor);
  outline: none;
  border-radius: 5px;
  background-color: transparent;
  margin-top: 5rem;
  font-size: 2.5rem;
  width: fit-content;
  text-decoration: none;
  cursor: pointer;
}

#left-contact button:hover {
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  box-shadow: 0.5rem 0.5rem 0 var(--textColor);
  transform: translate(-0.5rem, -0.5rem);
  -webkit-transform: translate(-0.5rem, -0.5rem);
}

#right-contact {
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  height: fit-content;
}
#right-contact h3 {
  font-size: 2.75rem;
  color: var(--textBgColor);
  margin-bottom: 1rem;
}

form input,
form textarea {
  width: 100%;
  outline: none;
  color: #fff;
  background-color: #002a2e;
  border-radius: 6px;
  padding: 1.5rem;
  margin: 1rem 0;
  border: 0;
  font-size: 1.5rem;
}
form button {
  padding: 1rem 2rem;
  color: var(--textColor);
  border: 1px solid var(--textColor);
  border-radius: 6px;
  outline: none;
  background-color: transparent;
  margin-top: 1rem;
  font-size: 2rem;
  width: fit-content;
  text-decoration: none;
  cursor: pointer;
}

form button:hover {
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  box-shadow: 0.5rem 0.5rem 0 var(--textColor);
  transform: translate(-0.5rem, -0.5rem);
  -webkit-transform: translate(-0.5rem, -0.5rem);
}

/* ----------------------------footer---------------------------------- */

footer {
  height: auto;
  min-height: 7rem;
  width: 100%;
  padding: 1.5rem;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.socialmedia {
  top: 50%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 1rem;
  gap: 3.5rem;
  opacity: 0.7;
  display: none;
}
.socialmedia svg {
  height: 23px;
  width: 23px;
  fill: var(--textBgColor);
  transition: 300ms ease-in-out;
}
.built {
  font-size: 1.6rem;
  margin: 2rem 0;
  font-family: monospace;
  color: #8892af;
}

#msg {
  color: var(--textColor);
  font-size: 1.5rem;
  min-width: max-content;
  margin-top: 10px;
  text-align: center;
}
/* ---------------Media---------------- */

@media (max-width: 768px) or ((orientation: landscape) and (max-width: 768px)) {
  html,
  body {
    font-size: 55%;
  }
  #cursor {
    display: none;
  }
  .main-section {
    width: 100%;
    padding: 9rem 0px;
  }
  nav .rightnav {
    display: none;
  }
  .ham-box {
    display: flex;
  }
  .ham-bar-box {
    display: block;
    opacity: 0;
    scale: 0;
  }
  .leftfollow,
  .rightfollow {
    display: none;
  }
  #home h2 {
    font-size: 4.5rem;
  }
  #home h3 {
    font-size: 3.75rem;
  }
  #home p {
    width: 100%;
    font-size: 2.4rem;
  }

  .mainAbout {
    display: block;
  }
  .rightAbout {
    margin: 50px auto 0px;
  }

  .leftAbout p{
    font-size: 2.3rem;
  }

  .leftAbout h3{
    font-size: 2rem;
  }
  .skills-list li{
    font-size: 2rem;
  }
  .skills-list li::before{
    font-size: 1.5rem;
  }
  .projectCard p{
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .socialmedia {
    display: flex;
  }
  .contact-container {
    display: block;
  }
  #left-contact {
    align-content: center;
    text-align: center;
  }
  #left-contact p {
    font-size: 2.3rem;
  }
}

@media (max-width: 550px) {
  html,
  body {
    font-size: 52%;
  }
  #home h2 {
    font-size: 4rem;
  }
  #home h3 {
    font-size: 3.25rem;
  }
  .socialmedia svg {
    height: 1.9rem;
    aspect-ratio: 1/1;
  }
}
@media (max-width: 350px) {
  html,
  body {
    font-size: 45%;
  }
  
}
